* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #213957  0.52%, #6bc6fa 100%);
    --secondaryGradient: linear-gradient(268.91deg, #213957 -2.14%, #6bc6fa 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #213957 ;
}

/* CHATBOX
=============== */
.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999999999999;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 400px;
    height: 300px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-30px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 5.7px;
    background: #f4ce0f;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.send__button:hover {
    background-color: #e2bf0e;
    transition: 1s;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 400px;
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: inset 3px 0 15px rgba(0, 0, 0, 0.1),
                inset -3px 0 15px rgba(0, 0, 0, 0.1);
}

/* HEADER */
.chatbox__header {
    background: #02366b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: var(--primaryBoxShadow),
                0 3px 15px rgba(0, 0, 0, 0.1);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__image--header img{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -6px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2px;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 60%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background: #02366b;
    box-shadow: var(--secondaryBoxShadow),
                0 -3px 15px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 100%;
    border: none;
    padding: 5px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: left;
}

.chatbox__send--footer {
    color: rgb(10, 23, 118);
    font-size: 15px;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: #f4ce0f;
    border: none;
    outline: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.chatbox__button button:hover {
    background-color: #e2bf0e;
    transition: 1s;
}

.chatbox__button img {
    width: 80%;
    height: 80%;
}